<div class="container">
  <div class="row">
    <div class="span12">
<h1><%= @month %>月度の総売上　¥<%= @total_sales %>-</h1>
</br>

<% if @orders.count == 0 %>
<h4>ー現在表示できる売上がありませんー</h4>
<% end %>
<div class="span5">
   <div class="pull-left">
  <h3><i class="ion-social-yen"></i>　代金引き換え</h3>
</div>
  <table class="table">

  <tr>
  <th>売上</th>　
  <td>¥<%= @m_total_sales %></td>
</tr>
 <tr>
  <th>システム料</br>(売上の10％)</th>　
  <td>¥<%= @m_total_sales * 0.1 %></td>
</tr>
 <tr>
  <th>合計</th>　
  <td>¥<%= @m_total_sales * 0.9 %></td>
</tr>
</table>
</div>

<div class="span5">
   <div class="pull-left">
  <h3><i class="ion-card"></i>　クレジット支払い</h3>
</div>
  <table class="table">

  <tr>
  <th>売上</th>　
  <td>¥<%= @c_total_sales %></td>
</tr>
 <tr>
  <th>システム料</br>(売上の10％)</th>　
  <td>¥<%= @c_total_sales * 0.1 %></td>
</tr>
 <tr>
  <th>合計</th>　
  <td>¥<%= @c_total_sales * 0.9 %></td>
</tr>
</table>
</div>

<div class="span12">
  <div class="pull-right">
<table class="table">
<tr>
  <th><h4>　<%= @month %>月度 お振込金額：</h4></th>　
  <td><h4>¥ <%= @c_total_sales * 0.9 - @m_total_sales * 0.1 %></h4></td>
</tr>

<tr>
  <th>※マイナスの表示はご請求金額</th>　
  <td></td>
</tr>

</table>
</div>
  </div>

<div class="span12">
  <h3><i class="ion-stats-bars"></i>　注文履歴</h3>
<table class="table">
 
    <tr>
      <th>ステータス</th>
      <th>支払い方法</th>
      <th>名前</th>
      <th>決済金額</th>
      <th>決済日時</th>
      <th>注文内容</th>
      <th colspan="3"></th>
    </tr>
 

  
    <% @orders.each do |order| %>
      <tr>
        <% if order.shipped == false %>
        <td><h3><%= link_to '発送完了メール送信', [:staff, order, :shipped], { :data => {:confirm => "発送完了の通知を送信しますか?"}, :class => "btn" } %> <i class="ion-alert-circled"><h5><span>　決済日から3日以内に商品の発送を完了し、「発送完了メール送信」ボタンを押してください。<br/><br/>　ボタンを押すと、発送完了のメールが、自動的にお客様に届きます。<br/><br/>　※一度押してしまうとキャンセルはできませんのでご注意下さい。</span></h5></i></h3></td>
        <% else %>
        <td>発送通知完了</td>
        <% end %>
        <td><%= order.payment %></td>
        <td><%= order.customer.family_name %> <%= order.customer.given_name %></td>

        <td>¥<%= order.total_price %></td>
        <td><%= order.created_at %></td>
        <td><%= link_to '詳細確認＞', [:staff, order] %></td>
        <td>  </td>
      </tr>
    <% end %>

</table>

</div>





<br>
</div>
</div>
</div>