<div class="container">
  <div class="row">
    <div class="span12">
<h1>今月の売上　¥<%= @total_sales %>-</h1>
<table class="table">
 
    <tr>
      <th>都道府県</th>
      <th>名前</th>
      <th>連絡先</th>
      <th>決済金額</th>
      <th>決済日時</th>
      <th>注文内容</th>
      <th colspan="3"></th>
    </tr>
 

  
    <% @orders.each do |order| %>
      <tr>
        <td><%=  %></td>
        <td><%= order.customer.family_name %> <%= order.customer.given_name %></td>
        <td><%= order.customer.email %></td>
        <td>¥<%= order.total_price %></td>
        <td><%= order.created_at %></td>
        <td><%= link_to '詳細確認＞', [:staff, order] %></td>
        <td>  </td>
      </tr>
    <% end %>

</table>

<br>
</div>
</div>
</div>