<div class="container">
  <div class="row">
    <div class="span12">

<div>
<h3>受注票</h3><br/>
<h5>　<strong>　注文日時：<%= @order.created_at %></strong></h5>
<h5>　　　注文者：<%= @order.customer.family_name %> <%= @order.customer.given_name %>様</h5>
<h5>　送り先住所：〒<%= @address.postal_code %> <%= @address.prefecture %> <%= @address.city %> <%= @address.address1 %> <%= @address.address2 %></h5></div>
</div>
</div>
</div><br><br><br>
<div class="container">
  <div class="row">
    <div class="span12">

<%= render @order.line_items %>
<div class="pull-right"><h3>合計： ¥<%= @order.total_price %>-（税込）</h3></div>
<br>


<%= link_to 'Home', :staff_root %>
</div>
</div>
</div>
