
<%= form_for [ :staff, @schedule ] do |f| %>
<div class="schedule_harvest cf">
  <h4>実地で開催される<br/>収穫祭やマルシェの情報を<br/>みんなに知らせよう！</h4>
  <h4><strong>イベント告知</strong><i class="ion-help-circled">
          <h5><span>　収穫祭や援農、マルシェなどの実地のイベント告知にお使いください。<br/><br/>　登録時に、フォロワーに同内容のお知らせが飛びます。<br/><br/>　また、開催期日の当月頭に、既に登録されているイベントは会員様への定期メール便（月便）にて配信されます。</span></h5></i></h4>
  <div class="field">
    <tr>
      <th>開始日　</th>
      <td>
        <div class="inputrow">
    <%= f.date_field :harvest_date %>
  </div>
  </td></br>
  <th>イベントURL</th><br/>
  <td>
    <%= f.text_field :event_url, placeholder: "http://..." %>
  </td><br/>
  
  <th>イベント名／詳細等</th><br/>
  <td>
    <%= f.text_area :harvest, placeholder: "Compose new micropost..." %>
  </td></br>
<th>※画像を付けられます（3枚まで）</th><br/>
  <td>
    <%= f.file_field :image1 %>
  </td></br>
  <td>
    <%= f.file_field :image2 %>
  </td></br>
  <td>
    <%= f.file_field :image3 %>
  </td>


</tr>

  </div>
 
  <%= f.submit "収穫告知する", class: "btn btn-large btn-primary", :name => 'harvest' %>
 
 </div>
<% end %>