<div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-1">
            <ul class="product">
<%= form_for [ :staff, @schedule ] do |f| %>
<div class="pure-form pure-form-stacked">

                    <fieldset>

                        <label for="name">タイトル</label>
                        <%= f.text_field :title %>


                        <label for="email">本文</label>
                        <%= f.cktext_area :blog %>



        <th>※画像を付けられます（3枚まで）</th><br/>
  <td>
    <label for="email">画像一枚目</label><%= f.file_field :image1 %>
  </td></br>
  <td>
    <label for="email">画像二枚目</label><%= f.file_field :image2 %>
  </td></br>
  <td>
    <label for="email">画像三枚目</label><%= f.file_field :image3 %>
  </td>

                        <%= f.submit "投稿する", class: "pure-button", :name => 'store'  %>
                    </fieldset>
                  </div>
<% end %>
  </ul>
  </div></div>


