
<div class= "container">
	<div class= "row">
		<div class= "span12">
<% @title = 'ダッシュボード' %>
<h5>→現在のステータス</h5>
<%= render 'toggle' %>

<div class="left">

</div>



<div class= "container">
<div class= "row">
<div class= "span12">
<% p = StaffMemberPresenter.new(@staff_member, self) %>
<h2><%= p.suspended_mark %></h2>
</div>
</div>
</div>

 <section>
        <%= render 'stats' %>
 </section>


<h1><%= image_tag @staff_member.image_url(:thumb).to_s %>  <%= @staff_member.farm_name %></h1>


<div class="bread-bar clearfix">
        <ul class="breadcrumb">
          <li><%= link_to '顧客管理＞', :staff_customers %></a></li>
          <li><%= link_to '農産品管理＞', :staff_products %></a></li>
        </ul>
      </div>






<div class="left">
<div class="span6">

	<section class="comment-area">
	<%= render 'harvest_schedule_form' %>
	</section>
	<section class="comment-area">
		<%= render 'store_schedule_form' %>
	</section>
</div>
</div>


<div class="left">
<div class="span5">
<div class="events">
  <div class="events-area">
      <div class="detail">
        <h5><a href="events-detail.html">[開店予告]8月21日17:00〜</a></h5>

           <ul class="events-list">
              <li><span><i class="icon-date"></i>25 - 02 - 2013</span><span>08:00am - 12:00pm</span></li>
              <li><span><i class="icon-location"></i>
              	<%= @staff_member.staff_address.prefecture %> 
              	<%= @staff_member.staff_address.city %> 
              	<%= @staff_member.staff_address.address1 %></span></li>
           </ul>
      </div>
<% @schedules.each do |schedules| %>

           <li>
             <div class="event-box">
               <figure class="image">
                 <a href="events-detail.html"></a>
               </figure>
             <div class="detail">
               <h5><a href="events-detail.html">【<%= @staff_member.farm_name %>】<%= schedules.harvest %><%= schedules.opening %></a></h5>
                <ul>
                  <li><span><i class="icon-date"></i><strong>開始日時：</strong><%= schedules.harvest_date %><%= schedules.opening_date %> → <%= schedules.closing_date %></span></li>
                  <li><span><i class="icon-location"></i>
                  	<%= @staff_member.staff_address.prefecture %> 
                  	<%= @staff_member.staff_address.city %> 
                  	<%= @staff_member.staff_address.address1 %></span></li>
                </ul>
             </div>
             </div><!-- event-box ends -->
           </li>
<% end %>
           <%= paginate @schedules %>
       </div>
   </div>
</div>
</div>

<div id="calendar">

</div>
</div>
</div>
</div>

<script>


$(function() {
	$("input[type=checkbox]").click(function() {
	$.post('/staff/'+$(this).data('status-id')+'/toggle');
    });
});


</script>

