<div class="span3">
	<div class="footer_menu">
		<h5>　</h5>
<ul>
	<li><%= link_to '商品登録から発送まで', :staff_static_staff_flow %></li>
	<li>　</li>
	<li><%= link_to '追加情報の登録', :staff_static_pages_additional_info %></li>
	<li>　</li>
	<li><%= link_to '販売条件の登録', :staff_static_pages_sales_term %></li>
	<li>　</li>
	<li><%= link_to '売上振込先の登録', :staff_static_pages_bank %></li>
	<li>　</li>
	<li><%= link_to '機能１：販売スケジュールのプッシュ', :staff_static_pages_funk1 %></li>
	<li>　</li>
	<li><%= link_to '機能２：イベントスケジュールのプッシュ', :staff_static_pages_funk2 %></li>
	<li>　</li>
	<li><%= link_to '機能３：在庫管理とステータス一発変更', :staff_static_pages_funk3 %></li>
	<li>　</li>
</ul>


</div>
</div>
