  <div class="container">
  <div class="row">
      <div class="span12">
        <div class="events">
          <h2>ごひいき農家<br>新着 <strong>ポスト</strong></h2>
					<div class="widget">
            <div class="posts-list">
              <ul>

                <% @feed_items.each do |schedules| %>
              
           <li>
             <div class="event-box">
               <figure class="image">
                <%= image_tag schedules.staff_member.image.thumb.url %>
                 <a href="events-detail.html"></a>
               </figure>
             <div class="detail">
               <h5><a href="<%= customer_staff_member_path(schedules.staff_member) %>">【<%= schedules.staff_member.farm_name %>】<%= schedules.harvest %><%= schedules.opening %> </a></h5>
                <ul>
                  <li><span><i class="icon-date"></i><strong>開始日時：</strong><%= schedules.harvest_date %><%= schedules.opening_date %> → <%= schedules.closing_date %></span></li>
                   <% if @staff_member.staff_address %>
                  <li><span><i class="icon-location"></i>
                    <%= @staff_member.staff_address.prefecture %> 
                    <%= @staff_member.staff_address.city %> 
                    <%= @staff_member.staff_address.address1 %></span></li>
                    <% end %>
                </ul>
             </div>
             </div><!-- event-box ends -->
             
           </li>
          
           <% end %>
              </ul>
            </div>
          </div><!-- widget ends -->
                 
                    <h5><a href="events-detail.html">農家さんの開店予定が閲覧できます！好きな場所の農家さんから直接購入しよう！</a></h5>
                    <ul>
                      <li><span><i class="icon-date"></i>25 - 02 - 2013</span><span>08:00am - 12:00pm</span></li>
                      <li><span><i class="icon-location"></i>Washington, United States</span></li>
                    </ul>

                  
                </div><!-- event-box ends -->
              </div>
              </div>
            </div>