<section  id="about" class="pt90 gray-bg pb90">
            <div class="container">
                <div class="s-row v-align-children">
                    <div class="col-lg-5">
                          <div class="margin15">
<%= link_to "ホーム", :customer_root %> > 自然栽培とは </div>
<%= link_to 'http://www.facebook.com/sharer.php?u='+customer_static_pages_shizen_url, :target => :blank do %> <%= image_tag 'FB.png' , :width => "20px" %>share<% end %>
                        <h2 class="font300 mb30 mt30"><span class="under">自然栽培とは</span></h2>
                        <p class="black">
                            私たちの考えている自然栽培とは、栽培期間中の無施肥、無農薬はもちろん、自然界全体と、私たち人間が、渾然一体のものとして死と再生、分解と結合、引力と斥力により巡り続けている、流れそのものだと考えています。
                        </p>
                        <p class="black">
                            近年、ヨーロッパのある地域では、有機野菜に含まれる硝酸体窒素の値が過剰であるため、規制基準の対象となりました。自然栽培、自然農で作られた野菜は、この硝酸体窒素の値が非常に低く適当なのが特徴です。<br><br>(弊社、自然栽培横浜三寸人参の硝酸体窒素の値 16ppm *弊社調べ)

                        </p>
                    </div><!--/col/-->
                    <div class="col-lg-4 offset-lg-1">
                        <%= image_tag "/assets/shizenyasai.gif", :class => "img-fluid"%>
                    </div><!--/col/-->
                </div><!--/row/-->
            </div><!--/container/-->
        </section><!--feature 1 end-->
               <hr class="mt0 mb0">
        <section id="features" class="pt90 pb90">
            <div class="container">
                <div class="s-row v-align-children">
                    <div class="col-lg-4">
                    <%= image_tag '/assets/organic-s.gif', :class => "img-fluid" %>
                    </div><!--/col/-->
                    <div class="col-lg-5 offset-lg-1">
                        <h2 class="font300 mb30"><span class="under">日本国内の農法</span></h2>

                        <p class="black">
                           日本国内の農法に、分類したり、名前をつけたりするのはあまり意味のないことかもしれませんが、ここでは便宜上三つのカテゴリーに分けて農法を説明します。
                        </p>
                        <ul class="features-list list-unstyled">
                            <li class="black">
                                慣行農法<br>農薬と化成肥料を使った農法：戦後奨励されてきた農法で様々な化学製品を使用します。
                            </li>
                            <li class="black">
                                有機栽培<br>農薬の使用や機材などの使用、管理方法が一定の基準（有機JAS認定）を満たした農法：肥料として主に有機質堆肥（動物性・植物性の堆肥又は、ぼかし）を使用します。
                            </li>
                            <li class="black">
                                自然栽培・自然農<br>栽培期間中農薬、化成肥料、堆肥（一切の肥料）を使わず、基本、田畑には、種以外は何も持ち込まない農法：自然農のように、肥料に加え、機械やマルチなどの資材も一切使用しない農法もあれば、肥料など生物性に直接働きかける資材は一切使わない方法まで多様な方法が存在します。<br>微生物や発酵液を使用する農家が自然栽培と言えるかは議論の分かれるところです。<br>ex:)フィンドホーン、シュタイナー、バイオダイナミック農法、EM栽培、発酵液栽培、酵素酵母微生物栽培
                            </li>
                        </ul>
                    </div><!--/col/-->

                </div><!--/row/-->
            </div><!--/container/-->
        </section><!--/feature 2/-->

 <hr class="mt0 mb0">
        <section  id="about" class="pt90 gray-bg pb90">
            <div class="container">
                <div class="s-row v-align-children">
                    <div class="col-lg-5">
                        <h2 class="font300 mb30 mt30"><span class="under">有機栽培と自然栽培の違い</span></h2>
                        <p class="black">
                            有機栽培と自然栽培は、一見すると同じ微生物や自然の力で栽培する点において同じに見え、同一視されることがあります。<br>しかしながら、日々畑の作業をしていると、実際には、この<span class="under">微生物の種類</span>に大きな違いがあるように感じます。<br><br>

                            有機栽培では、土壌の成分分析を行い、施肥設計、肥料の投入を行います。この際に、様々な肥料や土壌改良剤を使用しますが、この時、畑で何が起きているか見てみましょう。
                            <br><br>

                            使用する肥料を大きく分けると、化成肥料、動物性肥料、植物性肥料に分かれます。<br><br>

                            まず化成肥料ですが、鉱物などを原料に科学的に生成された低分子無機化合物です。無機質ですので水溶性に優れ、植物に吸収されやすく、即効性があります。主に単肥と複合肥料とに分かれます。<br>無機化合物である化成肥料を畑に投入すると、真っ先に植物に吸収されるため、何かが分解される必要はなく、分解者である微生物も必要なくなります。（微生物からみても、食べるものがなく、興味がない）<br>そして化成肥料があるうちは、微生物の数は減少します。この状態が長く続くと、やがて土は砂のようになり、砂漠のような状態へと変わっていきます。これは、農薬と化成肥料を使う慣行農法でも同じことが言えます。<br>

                        </p>
                        <p>
                        </p>
                    </div><!--/col/-->
                    <div class="col-lg-4 offset-lg-1">
                        <%= image_tag '/assets/practice.gif', :class => "img-fluid" %>
                    </div><!--/col/-->
                </div><!--/row/-->
            </div><!--/container/-->
        </section><!--feature 1 end-->
                      <hr class="mt0 mb0">
        <section id="features" class="pt90 pb90">
            <div class="container">
                <div class="s-row v-align-children">
                    <div class="col-lg-4">
                    <%= image_tag '/assets/organic.gif', :class => "img-fluid" %>

                    </div><!--/col/-->
                    <div class="col-lg-5 offset-lg-1">
                        <h2 class="font300 mb30"><span class="under">有機堆肥を投入</span></h2>

                        <p class="black">
                           次に、有機質の堆肥ですが、主に植物性の堆肥と動物性の堆肥に分かれます。
                            動物性の堆肥は家畜（主に豚、牛、鶏）の排泄物を原料にしています。植物性の堆肥は樹皮や木質チップ、籾殻や枯葉、竹などを原料にしています。<br>
                            有機栽培の基本的な考え方は、この堆肥、またはボカシを微生物に分解させて得られる養分を植物の栄養にするというもので、同時に、土の腐食、並びに微生物の数を増やすことで、団粒化の促進、地力、保肥力の向上を目的としています。<br>
                            有機堆肥を撒いた時、寄ってくる微生物はどんな微生物でしょうか。<br>動物性の堆肥の場合は、動物性の堆肥（<span class="under">動物の排泄物の分解サイクル・糞生菌の遷移</span>）を好む微生物であり、植物性の堆肥の場合は植物性の堆肥（<span class="under">植物の分解サイクル</span>）を好む微生物になります。<br>
                            ある微生物学者がいうには、現状見つかっている微生物だけでもDNA配列の異なる100万種が存在するそうです。動物と人間くらいの違いと考えても、その振る舞いが多様なものになるのは想像に難くなく、それぞれの営みが上手くかみ合うことで、この生態系は維持されているのが想像できます。
                            同じものを食べることもありますが、自然界には、それぞれ役割があり循環が途切れることなく続いていますので、動物でも、昆虫でも、種類が違えば食べるものも異なります。それは、微生物界においても同じではないかと思うのです。<br>畑に動物性の堆肥を投入した場合、やはりその供給量は自然界に比べ、過剰になり、分解にくる微生物も過剰になります。
                        </p>
                        
                    </div><!--/col/-->

                </div><!--/row/-->
            </div><!--/container/-->
        </section><!--/feature 2/-->

        <hr class="mt0 mb0">
        <section  id="about" class="pt90 gray-bg pb90">
            <div class="container">
                <div class="s-row v-align-children">
                    <div class="col-lg-5">
                        <h2 class="font300 mb30 mt30"><span class="under">自然界のサイクル・植生遷移</span></h2>
                        <p class="black">
                            自然界では、環境によって、そこに住む生物や植物が変わっていきます。特に植物による環境変化を植生遷移と呼びます。
                            環境が変化することで、そこに生えてくる植物は変わり、次の状態へと変化していきます。初めはコケ類だけだったところも、徐々に草本、低木と土壌ができるとともに変化していき、やがてはブナやカシなどの陰樹林が生えるまでに変わります。<br>
                            よく自然界を観察していると、岩場などの土がないところにも生えることができる植物があり、そこから根っこが生えることにより、「土」ができていくことを観察できます。
                            遷移が続き、最後にはどうなるかというと、見た目には変化していないような、極相と呼ばれる状態になります。<br>
                            植生、生きている植物の根っこには多種多様な微生物が寄ってきます。その活動が土壌と環境を作っていきます。<span class="under">[根っこ微生物]</span><br>やがて、一部の草木は花を咲かせ、枯れていきます。枯れた草木は、やはり微生物による分解のサイクルに回ります。<span class="under">[枯草微生物]</span>
                            <br>やがて枯れた植物の分解が進むと、生えていた根っこ自体も分解され、やがて、土壌に穴が空きます。<br>微生物には、好気性菌、嫌気性菌といった種類が存在しますが、好気性菌はエネルギーを得るのに酸素を利用する為、空気に触れる部分に分布します。ですので、根っこによって空いた空洞の表面に空気が触れることで、地中の中でも、好気性菌が活動することができるようになります。
                            空気と同時に水の流れも生まれ、根っこが入った深さまで、地上と地中がうまく循環するようになります。
                            溝や畝を作ると、空気に触れた部分がよく団粒化していくのを見ることができるのは、この為かもしれません。<span class="under">[好気性菌と嫌気性菌]</span>
                        </p>

                    </div><!--/col/-->
                    <div class="col-lg-4 offset-lg-1">
                        <%= image_tag '/assets/natural.gif', :class => "img-fluid" %>
                    </div><!--/col/-->
                </div><!--/row/-->
            </div><!--/container/-->
        </section><!--feature 1 end-->

                             <hr class="mt0 mb0">
        <section id="features" class="pt90 pb90">
            <div class="container">
                <div class="s-row v-align-children">
                    <div class="col-lg-4">
                    <%= image_tag '/assets/natural-b.gif', :class => "img-fluid" %>
                    </div><!--/col/-->
                    <div class="col-lg-5 offset-lg-1">
                        <h2 class="font300 mb30"><span class="under">自然栽培と微生物</span></h2>

                        <p class="black">
                            有機栽培と自然栽培の最も大きな違いは、栽培において付き合う<span class="under">微生物と環境</span>です。<br>
                        自然栽培においては、前節で挙げた[根っこ微生物]、[枯草微生物]、[好気性菌と嫌気性菌]の力を借ります。<br>その為に、自然の植生を維持し、時には、植える作物に適切な環境で遷移を止めたり、植える順番を変えたりします。微生物との共生含め、種のポテンシャルを最大限生かす為にできることをします。<br>
                        堆肥を投入しないメリットは、動物性のものに関して言えば、家畜飼料によるポストハーベストや家畜飼育の期間中に使われる化学薬品の混入を予防できるのが一つ。二つ目は土壌中の微生物が糞生菌などの排泄物につく微生物に偏らないようにできる点。そして、三つ目は植生、根っこの活動を阻害せず、その作物が本来持っている生きる力を発揮できる点です。<br>
                        植物性のものに関しては、一つは、除草剤や農薬の混入を予防できる点。二つ目は同じく、植生、根っこの活動を阻害しない点です。<br>
                        私たちが自然栽培に取り組む大きな理由は、こういった化学薬品が極力、畑に混入しないようにし、さらには健全なサイクルの中で植物本来の力で育ってもらうため<br>そして、何より、私たち自身が自然界の一部として、日々健康に暮らしていけることに自然と感謝していくためです。<br>自然は、いつでも、人が失いつつある生き生きと活かし合う生き方を教えてくれています。
                        </p>
                        
                    </div><!--/col/-->

                </div><!--/row/-->
            </div><!--/container/-->
        </section><!--/feature 2/-->
