
    <div><h4>【<%= @staff_member.farm_name %>】さんからのお知らせです！</h4></div>
    <regend>
      <div>[メッセージ]　<%= @schedule.harvest %> </div>
      <div>[開始日時]　　<%= @schedule.harvest_date %> </div>
      <div>[イベントURL]<%= @schedule.event_url %> </div>
  </regend><br>

      <div><%= link_to 'このごひいき農家さんのお店に行く', customer_staff_member_store_index_url(@staff_member) %> </div>

<br>
<div>＊自然と人を繋ぐ＊</div>
<div>自然栽培ちょくはん　</div>
<div>http://www.shizencyokuhan.com</div>
