<div class="container">
	<div class="row" >
		<div class="span12">

<% @title = 'ログイン（販売専用）' %>

<div id="login-form">
	

	<%= form_for @form, url: :staff_session do |f| %>


<div class="signin cf">
  <h4><%= @title %></h4>
  <form>
    <div class="inputrow">
      
      <%= f.text_field :email, :placeholder => "メールアドレス" %>
      <label for="name" class="ion-person"></label>
    </div>
    <div class="inputrow">
      
      <%= f.password_field :password,  :placeholder => "パスワード" %>
      <label for="pass" class="ion-locked"></label>
    </div>
    <input type="checkbox" name="remember" id="remember"/>
    <label for="remember" class="radio">ログイン状態を維持する</label>
    <%= f.submit 'ログイン' %>
    
  </form>

</div>







	<% end %>
</div>
<div class="container">
<h5>
<%= link_to "アカウントはお持ちですか？　新規ストア登録はこちら", :staff_signup %>
</h5>
</div>

</div>
</div>
</div>