
<div class="container">
	<div class="row">
		<div class="span12">
			<% @title = 'アカウント情報編集' %>
			<h1><%= @title %></h1>

			<div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-1">
				<%= form_for @staff_member, url: :staff_account do |f| %>
				<div class="pure-form pure-form-stacked">
				<%= render 'form', f: f %>
				<div class="buttons">
					<%= f.submit '更新', :class => "btn"%>
					<%= link_to 'キャンセル', :staff_account %>
				</div>
			</div>
				<% end %>
			</div></div>
		</div>
	</div>
</div>
