
<div class="container">
	<div class="row">
		<div class="span12">
<% @title = 'アカウント情報' %>
<h1><%= @title %></h1>

<div class="links">
	<%= link_to 'アカウント情報編集', :edit_staff_account %> |
	<%= link_to 'パスワード変更', :edit_staff_password %> |
	<%= link_to 'トップ', :staff_root %>
</div>

<table class="table">
	<tr>
		<th>Image:</th>
		<td>
  			<%= image_tag @staff_member.image_url(:thumb).to_s %>
		</td>
	</tr>
	<tr>
		<th>会社名／農場名</th>
		<td>
			<%= @staff_member.farm_name %>
		</td>
	</tr>
	<% if @staff_member.staff_address %>
	<% p1 = StaffAddressPresenter.new(@staff_member.staff_address, self) %>
	<tr>
		<th>所在地</th>
		<td>
			<%= p1.postal_code %>
			<%= p1.prefecture %>
			<%= p1.city %>
			<%= p1.address1 %>
			<%= p1.address2 %>
		</td>
	</tr>
	<% end %>
	
	<tr>
		<th>氏名</th>
		<td>
			<%= @staff_member.family_name %>
			<%= @staff_member.given_name %>
		</td>
	</tr>
	<tr>
		<th>フリガナ</th>
		<td>
			<%= @staff_member.family_name_kana %>
			<%= @staff_member.given_name_kana %>
		</td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td class="email">
			<%= @staff_member.email %>
		</td>
	</tr>

	<tr>
		<th>パスワード</th>
		<td class="password">**************</td>
	</tr>
	<% if @staff_member.additional_info %>
	<tr>
		<th>看板野菜★</th>
		<td><%= @staff_member.additional_info.masterpiece %>
		</td>
	</tr>
	<% end %>
	<% if @staff_member.sales_term %>
　　　<tr>
		<th>特定商取引に関する表示</th>
		<td><%= simple_format @staff_member.sales_term.legal_info %>
		</td>
	</tr>
	<% end %>
	

</table>

  </div>

</div>
</div>
