<div class="container">
	<div class="row">
		<div class="span12">
			<% @title = '農産品情報編集' %>
			<h1><%= @title %></h1>

			<div id="generic-form">
				<%= form_for [ :staff, @product], html: {multipart: true} do |f| %>
				<%= render 'form', f: f %>
				<div class="buttons">
					<%= f.submit '更新' %>
					<%= link_to 'キャンセル', :staff_products %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
