<div class="container">
	<div class="row">
		<div class="span12">
			<% @title = '農産品・加工品' %>
			<% @title2 = '一覧'%>

				<h2 class="text-pink">
					<%= @title %>
					<strong><%= @title2 %></strong>
				</h2>

<%= link_to '加工品を登録する', :pg_new_new_staff_product, :class => 'sbtn' %>
<%= link_to '農産品を登録する', :new_staff_product, :class => 'sbtn' %>

		<div class="table-wrapper">
			<div class="links">
			<%= link_to '加工品を登録する', :pg_new_new_staff_product %>|
				<%= link_to '農産品を登録する', :new_staff_product %>|
				<%= link_to 'ホーム', :staff_root %>
			</div>

			<%= paginate @products %>

				<table class="table">
					<tr>
						<th>表示画像</th>
						<th>品目</th>
						<th>品種/商品名</th>
						<th>自家採種の有無</th>
						<th>作付け方法</th>
						<th>内容量</th>
						<th>価格</th>
						<th>在庫数</th>
						<th>説明</th>
						<th></th>
					</tr>
						<% @products.each do |m| %>
					<tr>
					<% if m.productimg? %>
						<td><%= image_tag m.productimg.thumb.url %></td>
						<% else %>
						<td>noimage</td>
						<% end %>
						<td><%= m.category %></td>
						<td><%= m.variety %></td>
						<% p = ProductPresenter.new(m, self) %>
						<td><%= p.seed_rising_mark %></td>
						<td><%= truncate(m.method, length: 9) %></td>
						<td><%= m.net %><% if m.unit? %><%= m.unit %><% end %></td>
						<td><%= m.price %></td>
						<td><%= m.stock %></td>
						<td><%= truncate(m.description, length: 15) %></td>
						<td class="actions">
						<% if m.tag? %>
						<%= link_to '編集する', [ :pg_edit_staff, m ] %> |
						<% else %>
							<%= link_to '編集する', [ :edit_staff, m ] %> |
							<% end %>
							<%= link_to '削除', [ :staff, m ], method: :delete, data: { confirm: '本当に削除しますか？'} %>
							
						</td>
					</tr>
				<% end %>
				</table>

				<%= paginate @products %>

			<div class="links">
			<%= link_to '加工品を登録する', :pg_new_new_staff_product %>|
				<%= link_to '農産品を登録する', :new_staff_product %>|
				<%= link_to 'ホーム', :staff_root %>
			</div>
		</div>
		</div>
	</div>
</div>