<div class="container">
	<div class="row" >
		<div class="span12">

<% @title = 'ログイン' %>

<div id="login-form">
	

	<%= form_for @form, url: :customer_session do |f| %>
	



</div>



<div class="signin cf">
  <div class="avatar"></div>
  <form>
    <div class="inputrow">
      
      <%= f.text_field :email, :placeholder => "メールアドレス" %>
      <label for="name" class="ion-person"></label>
    </div>
    <div class="inputrow">
      
      <%= f.password_field :password,  :placeholder => "パスワード" %>
      <label for="pass" class="ion-locked"></label>
    </div>
    <input type="checkbox" name="remember" id="remember"/>
    <label for="remember" class="radio">ログイン状態を維持する</label>
    <%= f.submit 'ログイン' %>
    
  </form>

</div>
<h5><%= link_to "Sign up : 新規会員登録", :customer_signup, { :class => "sbtn" }  %></h5>
<% end %>

</div>
</div>
</div>
