<%= form_for [:customer, :staff_member, @order] do |f| %>

<fieldset>
		<legend>お客様の情報を入力して下さい</legend>
<div class="field">
	<%= f.label :name %><br/>
	<%= f.text_field :name, size: 40 %>
</div>

<div class="field">
	<%= f.label :address %><br/>
	<%= f.text_area :address, rows: 3, cols: 40 %>
</div>

<div class="field">
	<%= f.label :email %><br/>
	<%= f.email_field :email, size: 40 %>
</div>

<div class="field">
	<%= f.label :pay_type %><br/>
	<%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'お支払い方法を選択して下さい' %>
</div>

<div class="actions">
	<%= f.submit '代金引き換えで注文する' %>
</div>
	<%= form_tag('customer/orders', :method => :post) do %>
<script src="https://checkout.webpay.jp/v1/" class="webpay-button" data-key="<%= WEBPAY_PUBLIC_KEY %>"></script>
<% end %>
</fieldset>
<% end %>
