
<h5>...................................................</h5>
	<h5>自然と人を繋げる通販　自然栽培ちょくはん</h5>
	 <h5>http://www.shizencyokuhan.com</h5>
<h5>...................................................</h5>

<h5><%= @customer.family_name %> <%= @customer.given_name %>様</h5>

　<div>この度は、自然栽培ちょくはんをご利用頂きまして、誠にありがとうございます。</div>

 <div>本日、ご注文頂きました商品を発送致しました。</div>

　<div>お届け目安は、最短で2 - 3営業日ほど頂いております。
近日中にお届け致しますので、お受け取りの程、よろしくお願い致します。</div>


　<div class="event-box">
--------------------------------------------------
　
 <div>【注文番号】 5002<%= @order.id %></div>

　<div>※送り状発送人は[<%= @staff_member.farm_name %>]様となりますのでご注意ください。</div>

　<div>※ご不在連絡票が投函されました場合、お手数ではございますが、
お客様ご自身で配送業者様へ再配達のご連絡をお願い致します。</div>

　<div>なお、交通事情などにより配送に遅れが生じる場合もございます。
予め、ご了承くださいませ。</div>

--------------------------------------------------</div>

　<div>ご不明点等ございましたら「よくある質問」をご確認の上、
以下のお問い合わせ窓口までご連絡ください。</div>
　<div>「よくある質問」：http://www.shizencyokuhan.com/static_pages/qa</div>

　<div>またのご利用を心よりお待ち致しております。</div>
　<div>今後とも<%= @staff_member.farm_name %>様を
よろしくお願い申し上げます。</div>

<h5>|||||||||||||||||||||||||||||||||||</h5>
　<div>自然と人を繋げる通販　自然栽培ちょくはん</div>
　<div>お問合せ窓口：info@shizensaibai.com</div>
　<div>TEL：0120-147-272　　12:00-18:00(土日・祝日除く)</div>
　<div>※お電話でのご注文は受け付けておりません</div>
<h5>|||||||||||||||||||||||||||||||||||</h5></br>
