<div class="span3">
	<div class="footer_menu">
		<h5>　</h5>
<ul>
	<li><%= link_to '自然栽培ちょくはん とは', :staff_static_pages_intro %></li>
	<li>　</li>
	<li><%= link_to 'よくある質問', :staff_static_pages_qa %></li>
	<li>　</li>
	<li><%= link_to '特定商取引法に基づく表示', :staff_static_pages_commercial_transaction %></li>
	<li>　</li>
	<li><%= link_to '利用規約', :staff_static_pages_term %></li>
	<li>　</li>
	<li><%= link_to '免責事項', :staff_static_pages_disclaimer %></li>
	<li>　</li>
	<li><%= link_to 'プライバシーポリシー', :staff_static_pages_policy %></li>
	<li>　</li>
	<li><%= link_to 'お問い合わせ', :staff_static_pages_qa %></li>
	<li>　</li>
</ul>


</div>
</div>
