  <ul>
    <li><%= link_to "Home", :customer_root %></li>
    <li><%= link_to "利用規約", :static_pages_term %></li>
    <li><%= link_to "免責事項", :static_pages_disclaimer %></li>
    <li><%= link_to '会社概要', :static_pages_company %></li>
    <li><%= link_to "プライバシーポリシー", :static_pages_policy %></li>
  </ul>

