


<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a href="#" class="pure-menu-link pure-menu-heading">開店中のお店!</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="ion-map"></i> 地図で検索!</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">北海道</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">東北</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">関東</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">甲信越</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">中部</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">関西</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">近畿</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">山陰</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">山陽</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">九州</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">沖縄</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">News</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Support</a></li>
    </ul>
</div>




<div class="contents">

 <div class="container">
    <div class="row">

      <div class="l-content">
        
        <div class="pricing-tables pure-g">
           <% if @open_staff_members.count == 0 %>
           <h4>ー現在購入できる農家さんはありませんー</h4>
           <h5>フォローして開店情報をいち早くGET！</h5>
           <%= link_to '登録農家を見てみる！', [:customer_staff_members ], {:class => "btn" } %>
            <% end %>
          <% @open_staff_members.each do |m| %>
          <div class="pure-u-1 pure-u-md-1-3">
            
              <div class="thumbnail">
          <div class="events-area">
            <ul class="events-list">
              <li>
                <div class="event-box event-box-featured">
                  <% if m.image? %>
                  <div class="prof"><%= image_tag m.image.thumb.url %></div>
                  <% else %>
                  <div class="prof"><%= image_tag ("sample_img.png") %></div>
                  <% end %>
               
                  
                  
                  <div class="detail">
                    <h5><i class="ion-leaf"></i> <%= m.farm_name %></h5>
                  <h5><a href="<%= customer_staff_member_store_index_path(m) %>">OPEN!!</a></h5>
                  <% if m.staff_address %>
                  <h7><i class="ion-ios-location"></i> <%= m.staff_address.prefecture %> <%= m.staff_address.city %> <%= m.staff_address.address1 %> </h7>
                  <% end %>
                  <% if m.additional_info %>
                  <h6><i class="ion-heart"></i> 看板野菜：<%= m.additional_info.masterpiece %> </h6>
                  <% end %>
                    
                  
                          
                      <div class="new-btn"><%= link_to 'どんな農家？', [:customer, m ], {:class => "btn" } %>
                      
                        </div> 
                       
                        <div class="new-btn">
                      <%= link_to '商品を見る！', [:customer, m, :store, :index ], {:class => "btn" } %>
                    </div>
                  </div>
                
                </div><!-- event-box ends -->
              </li>
            </ul>
    
          </div><!-- events-area ends -->
          </div>
        </div><!-- events end -->
     
      <% end %>

      </div>
      <div class="pull-left">
      <%= paginate @open_staff_members %>
    </div>
      </div>
    
   </div>
</div>

 <div class="contents">
  <div class="insert">
  </div>
<div class="container">    
  <div class="row">
    <div class="span3">
      
     
    </div>
      <div class="span6">
          <h1>　
 </h1>
        <div class="events">
          
          <div class="widget">
           <% if @schedules.count == 0 %>
           <h4>ー現在表示できる投稿はありませんー</h4>
            <% end %>
                <% @schedules.each do |schedules| %>

           <li>
             <div class="event-box">
               <figure class="image">
                <%= image_tag schedules.staff_member.image.thumb.url %>
                 <a href="events-detail.html"></a>
               </figure>
             <div class="detail">
               <a href="<%= customer_staff_member_schedules_path(schedules.staff_member) %>"><h5><strong><%= schedules.staff_member.farm_name %></h5><h6><%= schedules.harvest %><%= schedules.opening %></strong> </h6></a>
                <ul>
                  <li><span><i class="ion-ios-clock"></i> <strong>開始日時：</strong><h6>
                  <% if schedules.harvest_date? %>
                    <%= schedules.harvest_date.strftime("%Y年 %m月 %d日") %>
                    <% end %>
                    <% if schedules.opening_date? %>
                    <%= schedules.opening_date.strftime("%Y年 %m月 %d日 %H:%M") %><br>　　　　&#8659;<br><%= schedules.closing_date.strftime("%Y年 %m月 %d日 %H:%M") %>
                    <% end %></h6></span></li>
                  <% if schedules.staff_member.additional_info %>
                  <li><i class="ion-information-circled"></i> 自然栽培<%= schedules.staff_member.additional_info.farm_condition_year %>|<%= schedules.staff_member.additional_info.farm_condition %></li>
                  <li><i class="ion-heart"></i> 看板やさい：<%= schedules.staff_member.additional_info.masterpiece %></li>
                  <% end %>
                    <% if schedules.staff_member.staff_address %>
                  <li><i class="ion-ios-location"></i> 
                    <%= schedules.staff_member.staff_address.prefecture %> 
                    <%= schedules.staff_member.staff_address.city %> 
                    <%= schedules.staff_member.staff_address.address1 %> </li>
                    <% end %>
                    <br/>
                    
                    <% if schedules.image1? %>
                    <div class="img">
                    <%= image_tag schedules.image1.url, :class => "intense" %>
                   </div>
                    
                    <% end %>
                    <% if schedules.image2? %>
                    <div class="img">
                    <%= image_tag schedules.image2.url, :class => "intense"  %>
                  </div>
                    <% end %>
                    <% if schedules.image3? %>
                    <div class="img">
                    <%= image_tag schedules.image3.url, :class => "intense"  %>
                  </div>
                    <% end %>
                  
              </ul>
             </div>
             </div><!-- event-box ends -->
           </li>
<% end %>
<%= paginate @schedules %>
              
           
          </div><!-- widget ends -->
                 
                    <h5>
                      <br/>
                      <%= link_to "→ごひいき農家予定一覧へ", customer_static_pages_feed_page_path, { :class => "btn"} %></h5>
                    
                  

                  
                </div><!-- event-box ends -->
              </div>
              </div>
            </div>
            </div>


<div class="contents">
  <div class="container">
  <div class="low">
          <div class="span12">


<br>



            <h2></h2>
  <ul>
  <li><%= image_tag "flow_img.png" %></li>
  <li><%= image_tag "flow_img2.png" %></li>
  <li><%= image_tag "flow_img3.png" %></li>
</ul>
</div>
</div>
</div>
</div>

 <div class="contents">
  <div class="insert">
  </div>
<div class="container">    
  <div class="row">
    <div class="span3">
      
     
    </div>
      <div class="span7">


<br>



            <h2>申し訳ございません！現在準備中です！</h2>
 
</div>
</div>
</div>
</div>



<div class="insert">
  </div>

  <div id="tab">
    <div class="span12">
      <h1> </h1><br>
       <strong><h2>自然ちょくはんは<br>自然に寄り添う<br>生産者を応援し<br>増やす仕組みです!
 </h2></strong></div>

<div class="span3"><%= image_tag ("icon_sample2.png") %><br><strong><h3>新鮮な野菜を単品から！</h3></strong><br><h4>生産者さんが大切に育てた<br>
  新鮮なお野菜を単品から<br>その場で購入できます！</h4></div>

 <div class="span3"><%= image_tag ("icon_sample4.png") %><br><strong><h3>生産者と直接つながる！</h3></strong><br><h4>フォローすることで<br>好きな生産者から<br>販売スケジュールが届きます！</h4></div>

<div class="span3"><%= image_tag ("icon_sample1.png") %><br>
  <strong><h3>小規模生産者の基金！</h3></strong><br><h4>地域の農を中心とした<br>コミュニティーづくりの為に<br>基金を創設します！</h4></div>
<div class="span3"><%= image_tag ("icon_sample3.png") %><br><strong><h3>地元／地域の食糧基盤！</h3></strong><br><h4>物流を中心に地域の<br>食糧自給の基盤となる<br>システムを提供します！
  </h4></div>

</div>

 <div class="top-image-1">
<%= image_tag ("top_sato.png") %>
</div>




  

          





          <script>
          $(document).ready(function(){
  $('.bxslider').bxSlider({
    auto: true,
    nextSelector: '#slider-next',
  prevSelector: '#slider-prev',
  pause: 6000,
  buildPager: function(slideIndex){
    switch(slideIndex){
      case 0:
        return '';
      case 1:
        return '';
      case 2:
        return '';
      case 3:
        return '';
      case 4:
        return '';
    }
  }
});
  });
          </script>

          <script>
          $(document).ready(function(){
  $('.bxslider1').bxSlider({
    auto: true,
    nextSelector: '#slider-next',
  prevSelector: '#slider-prev',
  pause: 6000,
  buildPager: function(slideIndex){
    switch(slideIndex){
      case 0:
        return '';
      case 1:
        return '';
      case 2:
        return '';
      case 3:
        return '';
      case 4:
        return '';
    }
  }
});
  });
          </script>


        

      
 