



 
 <div class="top-image">

  <%= render 'customer/shared/search_form' %>

</div>
<div class="insert">
  <ul class="bxslider">
  <li><h3 class="pull-right"><i class="ion-leaf"></i>　<%= link_to '美味しさ満載！自然なお野菜レポート　かすみんぶろぐ毎月20日更新！　　＞＞', 'http://shizencyokuhan.cocolog-nifty.com/', {:target => "_blank"} %></h3></li>
  <li><h3 class="pull-right"><i class="ion-flag"></i>　<%= link_to '今週の注目農家！　ー兵庫うむ農園ー　　＞＞', [:customer_root ] %></h3></li>
  <li><h3 class="pull-right"><i class="ion-bookmark">　</i><%= link_to 'うむ特別販売会開催！　2016年3月25日＠横浜中華街　　＞＞', [:customer_root ] %></h3></li>
  <li><h3 class="pull-right"><i class="ion-paper-airplane">　</i><%= link_to '今月の一押しイベント！　ー楽市楽座よいよいー　　＞＞', [:customer_root ] %></h3></li>
</ul>
</div>


  <div class="container">
    <div class="row">

      <div class="span7">
        <div class="events">
          <h2>今すぐ買える！！<br/><strong>開店中の自然農家</strong><br/>INFO</h2>
           <% if @open_staff_members.count == 0 %>
           <h4>ー現在購入できる農家さんはありませんー</h4>
           <h5>フォローして開店情報をいち早くGET！</h5>
           <%= link_to '登録農家を見てみる！', [:customer_staff_members ], {:class => "btn" } %>
            <% end %>
          <% @open_staff_members.each do |m| %>
            <div class="span3">
					<div class="events-area">
            <ul class="events-list">
              <li>
                <div class="event-box event-box-featured">
                  
                  <div class="prof"><%= image_tag m.image.thumb.url %></div>
               
                  
                  
                  <div class="detail">
                    <h5><i class="ion-leaf"></i> <%= m.farm_name %></h5>
                  <h5><a href="<%= customer_staff_member_store_index_path(m) %>">OPEN!!</a></h5>
                  <% if m.staff_address %>
                  <h6><i class="ion-ios-location"></i> <%= m.staff_address.prefecture %> <%= m.staff_address.city %> <%= m.staff_address.address1 %> </h6>
                  <% end %>
                  <% if m.additional_info %>
                  <h6><i class="ion-heart"></i> 看板野菜：<%= m.additional_info.masterpiece %> </h6>
                  <% end %>
                    
                    <ul>
                    
                      <li>
                        
                          <p style="margin-top: 15px;">
                      <div><%= link_to 'どんな農家？', [:customer, m ], {:class => "btn" } %>
                      </div>
                          </p>
                        </li>
                        <li>
                        
                      <div><%= link_to '商品を見る！', [:customer, m, :store, :index ], {:class => "btn btn-large btn-primary" } %>
                      </div>
                    
                          
                        
                      </li>
                    </ul>
                  </div>
                
                </div><!-- event-box ends -->
              </li>
            </ul>
    
          </div><!-- events-area ends -->
          
        </div><!-- events end -->
   
      <% end %>

      </div>
      <div class="pull-left">
      <%= paginate @open_staff_members %>
    </div>
      </div>
     
  
      <div class="row">
      <div class="span5">
        <div class="events">
          <h2>全国農家からの<br/><strong>新着スケジュールを</strong><br/> チェック！！</h2>
					<div class="widget">
           <% if @schedules.count == 0 %>
           <h4>ー現在表示できる投稿はありませんー</h4>
            <% end %>
                <% @schedules.each do |schedules| %>

           <li>
             <div class="event-box">
               <figure class="image">
                <%= image_tag schedules.staff_member.image.thumb.url %>
                 <a href="events-detail.html"></a>
               </figure>
             <div class="detail">
               <h5><a href="<%= customer_staff_member_path(schedules.staff_member) %>"><strong>【<%= schedules.staff_member.farm_name %>】<%= schedules.harvest %><%= schedules.opening %></strong> </a></h5>
                <ul>
                  <li><span><i class="ion-ios-clock"></i> <strong>開始日時：</strong><h3><strong><%= schedules.harvest_date %><%= schedules.opening_date %> → <%= schedules.closing_date %></strong></h3></span></li>
                  <% if schedules.staff_member.additional_info %>
                  <li><i class="ion-information-circled"></i> 自然栽培<%= schedules.staff_member.additional_info.farm_condition_year %>|<%= schedules.staff_member.additional_info.farm_condition %></li>
                  <li><i class="ion-heart"></i> 看板やさい：<%= schedules.staff_member.additional_info.masterpiece %></li>
                  <% end %>
                    <% if schedules.staff_member.staff_address %>
                  <li><i class="ion-ios-location"></i> 
                    <%= schedules.staff_member.staff_address.prefecture %> 
                    <%= schedules.staff_member.staff_address.city %> 
                    <%= schedules.staff_member.staff_address.address1 %> </li>
                    <% end %>
              </ul>
             </div>
             </div><!-- event-box ends -->
           </li>
<% end %>
<%= paginate @schedules %>
              
           
          </div><!-- widget ends -->
                 
                    <h5><a href="events-detail.html">
                      <br/>開催されるイベントや、開店のスケジュールを農家さんが共有してくれるよ！好きな農家さんをフォローしてスケジュールをいち早くGETしよう！</a></h5>
                    
                  

                  
                </div><!-- event-box ends -->
              </div>
              </div>
            </div>
          </div>
          <script>
          $(document).ready(function(){
  $('.bxslider').bxSlider({
    auto: true,
    nextSelector: '#slider-next',
  prevSelector: '#slider-prev',
  pause: 6000,
  buildPager: function(slideIndex){
    switch(slideIndex){
      case 0:
        return '<i class="ion-earth"></i>';
      case 1:
        return '<i class="ion-planet"></i>';
      case 2:
        return '<i class="ion-cube"></i>';
      case 3:
        return '<i class="ion-lightbulb"></i>';
      case 4:
        return '<i class="ion-earth"></i>';
    }
  }
});
  });
          </script>

        
      
      

        
        

        
     
 
  