

  

 <div class="top-image">

  <%= render 'customer/shared/search_form' %>

</div>

<div class="insert">
  <div class="span12">
 <div id="tab">
<ul>
  <div class= "span3"><h5>　　</h5></div>
<div class= "span1"><li class="now"><h1><i class="ion-map"></i><h1><h5>地図で検索！</h5></li></div>
<div class= "span1"><li><h1><i class="ion-home"></i></h><h5>開店中のお店！</h5></li></div>
<div class= "span1"><li><h1><i class="ion-calendar"></i></h1><h5>農家のスケジュール！</h5></li></div>

</ul>
</div>
</div>

<div class="contents">
  <div class="map">
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map-canvas"></div>
</div>
</div>

<div class="contents">
 <div class="container">
    <div class="row">

      <div class="span12">
        <div class="events">
           <% if @open_staff_members.count == 0 %>
           <h4>ー現在購入できる農家さんはありませんー</h4>
           <h5>フォローして開店情報をいち早くGET！</h5>
           <%= link_to '登録農家を見てみる！', [:customer_staff_members ], {:class => "btn" } %>
            <% end %>
          <% @open_staff_members.each do |m| %>
            <div class="span3">
              <div class="bgc">
          <div class="events-area">
            <ul class="events-list">
              <li>
                <div class="event-box event-box-featured">
                  <% if m.image? %>
                  <div class="prof"><%= image_tag m.image.thumb.url %></div>
                  <% else %>
                  <div class="prof"><%= image_tag ("sample_img.png") %></div>
                  <% end %>
               
                  
                  
                  <div class="detail">
                    <h5><i class="ion-leaf"></i> <%= m.farm_name %></h5>
                  <h5><a href="<%= customer_staff_member_store_index_path(m) %>">OPEN!!</a></h5>
                  <% if m.staff_address %>
                  <h7><i class="ion-ios-location"></i> <%= m.staff_address.prefecture %> <%= m.staff_address.city %> <%= m.staff_address.address1 %> </h7>
                  <% end %>
                  <% if m.additional_info %>
                  <h6><i class="ion-heart"></i> 看板野菜：<%= m.additional_info.masterpiece %> </h6>
                  <% end %>
                    
                  
                          
                      <div class="new-btn"><%= link_to 'どんな農家？', [:customer, m ], {:class => "btn" } %>
                      
                        </div> 
                       
                        <div class="new-btn">
                      <%= link_to '商品を見る！', [:customer, m, :store, :index ], {:class => "btn btn-large btn-primary" } %>
                    </div>
                  </div>
                
                </div><!-- event-box ends -->
              </li>
            </ul>
    
          </div><!-- events-area ends -->
          </div>
        </div><!-- events end -->
   
      <% end %>

      </div>
      <div class="pull-left">
      <%= paginate @open_staff_members %>
    </div>
      </div>
     </div>
   </div>
 </div>
<div class="contents">  
<div class="container">    
  <div class="row">
      <div class="span12">
        <div class="events">
          
          <div class="widget">
           <% if @schedules.count == 0 %>
           <h4>ー現在表示できる投稿はありませんー</h4>
            <% end %>
                <% @schedules.each do |schedules| %>

           <li>
             <div class="event-box">
               <figure class="image">
                <%= image_tag schedules.staff_member.image.thumb.url %>
                 <a href="events-detail.html"></a>
               </figure>
             <div class="detail">
               <h5><a href="<%= customer_staff_member_schedules_path(schedules.staff_member) %>"><strong>【<%= schedules.staff_member.farm_name %>】<%= schedules.harvest %><%= schedules.opening %></strong> </a></h5>
                <ul>
                  <li><span><i class="ion-ios-clock"></i> <strong>開始日時：</strong><h3><strong>
                  <% if schedules.harvest_date? %>
                    <%= schedules.harvest_date.strftime("%Y年%m月%d日") %>
                    <% end %>
                    <% if schedules.opening_date? %>
                    <%= schedules.opening_date.strftime("%Y年%m月%d日 %H:%M") %><br>　　　　&#8659;<br><%= schedules.closing_date.strftime("%Y年%m月%d日 %H:%M") %>
                    <% end %></strong></h3></span></li>
                  <% if schedules.staff_member.additional_info %>
                  <li><i class="ion-information-circled"></i> 自然栽培<%= schedules.staff_member.additional_info.farm_condition_year %>|<%= schedules.staff_member.additional_info.farm_condition %></li>
                  <li><i class="ion-heart"></i> 看板やさい：<%= schedules.staff_member.additional_info.masterpiece %></li>
                  <% end %>
                    <% if schedules.staff_member.staff_address %>
                  <li><i class="ion-ios-location"></i> 
                    <%= schedules.staff_member.staff_address.prefecture %> 
                    <%= schedules.staff_member.staff_address.city %> 
                    <%= schedules.staff_member.staff_address.address1 %> </li>
                    <% end %>
                    <br/>
                    
                    <% if schedules.image1? %>
                    <div class="img">
                    <%= image_tag schedules.image1.url, :class => "intense" %>
                   </div>
                    
                    <% end %>
                    <% if schedules.image2? %>
                    <div class="img">
                    <%= image_tag schedules.image2.url, :class => "intense"  %>
                  </div>
                    <% end %>
                    <% if schedules.image3? %>
                    <div class="img">
                    <%= image_tag schedules.image3.url, :class => "intense"  %>
                  </div>
                    <% end %>
                  
              </ul>
             </div>
             </div><!-- event-box ends -->
           </li>
<% end %>
<%= paginate @schedules %>
              
           
          </div><!-- widget ends -->
                 
                    <h5>
                      <br/>
                      <%= link_to "→ごひいき農家予定一覧へ", customer_static_pages_feed_page_path, { :class => "btn"} %></h5>
                    
                  

                  
                </div><!-- event-box ends -->
              </div>
              </div>
            </div>
            </div>
<div class="contents">
  <div class="container">
  <div class="low">
          <div class="span12">


<br>



            <h2></h2>
  <ul class="bxslider1">
  <li><%= image_tag "flow_img.png" %></li>
  <li><%= image_tag "flow_img2.png" %></li>
  <li><%= image_tag "flow_img3.png" %></li>
</ul>
</div>
</div>
</div></div>
<div class="contents">ここに タブ03 がアクティブの時に表示する内容</div>
<div class="contents">ここに タブ04 がアクティブの時に表示する内容</div>
</div>


<div class="span4"><%= image_tag ("icon_sample3.png") %><br><h4>　
  地域の新規就農者の育成、地域の農を中心としたコミュニティーづくりに対して資金を提供する基金を創設します。</h4></div>
<div class="span4"><%= image_tag ("icon_sample1.png") %><br><h4>　
  地域の食糧自給の基盤となるシステムを提供します。皆様と生産者様が支え合い、助け合うことで生まれる、自立的な地域を作っていきます。
  </h4></div>
<div class="span4"><%= image_tag ("icon_sample2.png") %><br><h4>　生産者さんから売りたいタイミングでメッセージが届くので、何度もサイトを訪問しなくても、好きな地域の好きな生産者さんから購入できます。</h4></div>




  

          





          <script>
          $(document).ready(function(){
  $('.bxslider').bxSlider({
    auto: true,
    nextSelector: '#slider-next',
  prevSelector: '#slider-prev',
  pause: 6000,
  buildPager: function(slideIndex){
    switch(slideIndex){
      case 0:
        return '';
      case 1:
        return '';
      case 2:
        return '';
      case 3:
        return '';
      case 4:
        return '';
    }
  }
});
  });
          </script>

          <script>
          $(document).ready(function(){
  $('.bxslider1').bxSlider({
    auto: true,
    nextSelector: '#slider-next',
  prevSelector: '#slider-prev',
  pause: 6000,
  buildPager: function(slideIndex){
    switch(slideIndex){
      case 0:
        return '';
      case 1:
        return '';
      case 2:
        return '';
      case 3:
        return '';
      case 4:
        return '';
    }
  }
});
  });
          </script>

        
      
      

        
        

        
     
 
  