



<div class="container">
    <div class="row">
<div class="span12">
      <% @title = '販売者一覧' %>
			<h2><%= @title %></h2>
		</div>
       
        <div class="events">
        	<%= paginate @staff_members %>
          <% @staff_members.each do |m| %>
          <% p = StaffMemberPresenter.new(m, self) %>
            <div class="span3">
              <div class="bgc">
          <div class="events-area">
            <ul class="events-list">
              <li>
                <div class="event-box event-box-featured">
                  <% if m.image? %>
                  <div class="prof"><%= image_tag m.image.thumb.url %></div>
                  <% else %>
                  <div class="prof"><%= image_tag ("sample_img.png") %></div>
                  <% end %>
               
                  
                  
                  <div class="detail">
                    <h5><i class="ion-leaf"></i> <%= m.farm_name %></h5>
                  <h5><a href="<%= customer_staff_member_store_index_path(m) %>"><%= p.suspended_mark %></a></h5>
                  <% if m.staff_address %>
                  <h7><i class="ion-ios-location"></i> <%= m.staff_address.prefecture %> <%= m.staff_address.city %> <%= m.staff_address.address1 %> </h7>
                  <% end %>
                  <% if m.additional_info %>
                  <h6><i class="ion-heart"></i> 看板野菜：<%= m.additional_info.masterpiece %> </h6>
                  <% end %>
                    
                  
                          
                      <div class="new-btn"><%= link_to 'どんな農家？', [:customer, m ], {:class => "btn" } %>
                      
                        </div> 
                       
                        <div class="new-btn">
                      <%= link_to '商品を見る！', [:customer, m, :store, :index ], {:class => "btn btn-large btn-primary" } %>
                    </div>
                  </div>
                
                </div><!-- event-box ends -->
              </li>
            </ul>
    
          </div><!-- events-area ends -->
          </div>
        </div><!-- events end -->
   
      <% end %>

      </div>
      <div class="pull-left">
      <%= paginate @staff_members %>
    </div>
      </div>
     </div>
  
