     
<div class="container">
     <div class="row">
      <div class="insert"></div>
      <div class="span7">
        <div class="events">
          <div class="pull-left"><h1><i class="ion-calendar">　</i></h1></div>
          <h2><strong><%= @staff_member.farm_name %><br/>スケジュール</strong></h2>

          <div class="widget">
           <% if @schedules.count == 0 %>
           <h4>ー現在表示できる投稿はありませんー</h4>
            <% end %>

                
<% @schedules.each do |schedules| %>
           <li>
             <div class="event-box">
               <figure class="image">
                <%= image_tag schedules.staff_member.image.thumb.url %>
                 <a href="events-detail.html"></a>
               </figure>
             <div class="detail">
               <a href="<%= customer_staff_member_schedules_path(schedules.staff_member) %>"><h5><strong><%= schedules.staff_member.farm_name %></h5><h6><%= schedules.harvest %><%= schedules.opening %></strong> </h6></a>
                <ul>
                  <li><span><i class="ion-ios-clock"></i> <strong>開始日時：</strong><h6><strong>
                  <% if schedules.harvest_date? %>
                    <%= schedules.harvest_date.strftime("%Y年%m月%d日") %>
                    <% end %>
                    <% if schedules.opening_date? %>
                    <%= schedules.opening_date %><br>　　　　&#8659;<br><%= schedules.closing_date %>
                    <% end %></strong></h6></span></li>

                  <% if schedules.staff_member.additional_info %>
                  
                  <li><i class="ion-heart"></i> 看板やさい：<%= schedules.staff_member.additional_info.masterpiece %></li>
                  <% end %>
                    <% if schedules.staff_member.staff_address %>
                  <li><i class="ion-ios-location"></i> 
                    <%= schedules.staff_member.staff_address.prefecture %> 
                    <%= schedules.staff_member.staff_address.city %> 
                    <%= schedules.staff_member.staff_address.address1 %> </li>
                    <% end %>
              </ul>
             </div>
             </div><!-- event-box ends -->
           </li>
<% end %>

              
           
          </div><!-- widget ends -->

                  
                </div><!-- event-box ends -->
              </div>
              <div class="span4">
               <h5>
                      <br/><i class="ion-information-circled">　</i>農家さんをフォローすると、メールで農家さんのスケジュールが届く様になります！
                      <br><br>
                      <%= link_to "この農家の詳細を見にいく", customer_staff_member_path(@staff_member), { :class => "btn"} %></h5>
                      <div class="pull-left">
  <%= link_to "農産品を見にいく", customer_staff_member_store_index_path(@staff_member), { :class => "btn"} %>
</div>
<div class="insert">　</div>
                    </div>

              </div>
            </div>