
<div class="container">
	<div class="row">
		<div class="span12">
			<div id="farm_prof"><%= image_tag @staff_member.image_url %></div>
<% @title = '販売者詳細' %>
<h1><%= @staff_member.farm_name %></h1>
<div>
<% if @staff_member.additional_info %>
<h1><i class="ion-ios-chatbubble"></i></h1><h4><%= @staff_member.additional_info.explanation %></h4>
<% end %>
</div>


	<div class= "container">
       <div class= "row">
		<div class="span12">
		<% if current_customer %>
<div class="pull-left">
	<%= render 'follow_form' %>
</div>
<div class="pull-left">
<div class="stats">
    <%= render 'stats' %>
</div>
</div>
<% else %>
<%= link_to  'この農家をフォローする', :customer_root, {:class => "btn btn-large btn-primary" }  %>
<% end %>
</div></div></div><br>
							<div class= "container">
                               <div class= "row">
								<div class="span12">
							<div class="top-nav"><%= link_to '商品を見る！', [:customer, @staff_member, :store, :index ], {:class => "btn btn-large btn-primary" } %>
							
							<%= link_to 'スケジュールを見る！', [:customer, @staff_member, :schedules ], {:class => "btn btn-large btn-primary" } %>
							</div>
						</div></div></div>

						
<div class= "container">
<div class= "row">
<div class= "span12">
<% p = StaffMemberPresenter.new(@staff_member, self) %>
<h2> </h2>
<h2><%= p.suspended_mark %></h2>
</div>
</div>
</div>


<div class="links">

	<%= link_to 'ユーザートップ', :customer_root %>

</div>




<table class="table">
	<tr>
		<th>Image:</th>
		<td>
  			<%= image_tag @staff_member.image_url(:thumb).to_s %>
		</td>
	</tr>
	<tr>
		<th>会社名／農場名</th>
		<td>
			<%= @staff_member.farm_name %>
		</td>
	</tr>
	<% if @staff_member.staff_address %>
	<% p1 = StaffAddressPresenter.new(@staff_member.staff_address, self) %>
	<tr>
		<th>所在地</th>
		<td>
			<%= p1.postal_code %>
			<%= p1.prefecture %>
			<%= p1.city %>
			<%= p1.address1 %>
			<%= p1.address2 %>
		</td>
	</tr>
	<% end %>
	
	<tr>
		<th>販売者氏名</th>
		<td>
			<%= @staff_member.family_name %>
			<%= @staff_member.given_name %>
		</td>
	</tr>
	<tr>
		<th>フリガナ</th>
		<td>
			<%= @staff_member.family_name_kana %>
			<%= @staff_member.given_name_kana %>
		</td>
	</tr>
	<tr>
	
	</tr>
	<% if @staff_member.sales_term %>
	<tr>
		<th>【　全国一律送料　】</th>
		<td>
			全国どこでも<%= @staff_member.sales_term.delivery_fee %>円で届きます。
		</td>
	</tr>

	<tr>
		<th>特定商取引法に基づく表示</th>
		<td>
			<%= @staff_member.sales_term.legal_info %>
		</td>
	</tr>

	<tr>
		<th>返品規定</th>
		<td>
			<%= @staff_member.sales_term.return_policy %>
		</td>
	</tr>
<% end %>



</table>

  </div>

</div>
</div>
