





<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href=""><%= @staff_member.farm_name %></a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><%= link_to '農産品', [:customer, @staff_member, :store, :index ], {:class => "pure-menu-link" } %></li>
            <li class="pure-menu-item"><%= 
                          if current_customer
                           link_to 'ログアウト', :customer_session, method: :delete, :class => "pure-menu-link"
                          else
                           link_to 'ログイン', :customer_login, :class => "pure-menu-link"
                          end
                        %></li>
        </ul>
    </div>
</div>

<div class="splash-container">

<% if @staff_member.image? %>
            <%= image_tag @staff_member.image_url %>
      <% end %>
      <!--<%= image_tag "natural-w.gif", :class => "absolute"%>-->
    <div class="splash">
        <h1 class="splash-head"><%= @staff_member.farm_name %></h1>
        <p class="splash-subhead">
            <% if @staff_member.additional_info %>
<%= @staff_member.additional_info.explanation %>
<% end %>
        </p>
        <p>
        <%= link_to 'ブログ', [:customer, @staff_member, :schedules ], {:class => "pure-button pure-button-primary" } %>
        </p>
        <p>
        <%= link_to '農産品一覧', [:customer, @staff_member, :store, :index ], {:class => "pure-button pure-button-primary" } %>
    </p>
    </div>
</div>



<div class="content-wrapper">
    <div class="content">
<h2 class="content-head is-center">農産品一覧</h2>

      <div class="pure-g">
        <div class="pricing-tables pure-g">
          <% if @staff_member.products.count == 0 %>
        <div class="span12">
        <h4>大変、申し訳ございません。現在ご購入いただける商品はございません。</h4>
        </div>
        <% end %>

          <% @staff_member.products.each do |m| %>
          <div class="pure-u-1 pure-u-md-1-3">
          <div class="thumbnail">
                    <div class="entry">
              <% if m.productimg? %>
                    <div><%= image_tag m.productimg.thumb.url %></div>
          <% end %>
                    <h5><%= m.category %></h5>
                    <h6><%= sanitize(m.description) %></h6>
                    <h5><%= m.variety %></h5>
                    <h5><%= m.method %></h5>
                    <% if @staff_member.suspended? %>
                        <div class="price_line">
                        <span class="price">
                        <%= m.net %><% if m.unit? %><%= m.unit %><% else %>g<% end %>
                        <%= sprintf("¥%0.00f", m.price) %></span>
                        <p style="margin-top: 15px;">
                            <% if m.stock == 0 %>
                            ごめんなさい。売り切れました。
                            <% else %>
                            <%= link_to '商品を見る', [:customer, m.staff_member, m ], :class => "btn btn-large btn-primary" %>
                            <% end %>
                        </p>
                        </div>
                        <% else %>
                        スタンバイ
                        <% end %>
        </div>
          </div>
        </div><!-- events end -->

      <% end %>

      </div>

      </div>

        <h2 class="content-head is-center">ブログ・スケジュール</h2>

        <div class="pure-g">

<% @schedules.each do |schedules| %>
               <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    
                    <!--<% if schedules.staff_member.image? %><%= image_tag schedules.staff_member.image.thumb.url, :size => "48x48", :class => "post-avatar" %><% end %>
                        <img width="48" height="48" alt="Eric Ferraiuolo&#x27;s avatar" class="post-avatar" src="img/common/ericf-avatar.png">-->
                        <p><%= schedules.created_at.strftime("%Y年%m月%d日") %></p>
                   <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    <%= link_to customer_staff_member_schedule_show_path( schedule_id: schedules.id, staff_member_id: @staff_member.id ) do %><%= truncate(schedules.harvest, length: 15, :escape => false) %><%= truncate(schedules.title, length: 15, :escape => false) %><% end %>
                   </h3>

                        <p class="post-meta">
                            By <a href="<%= customer_staff_member_schedules_path(schedules.staff_member) %>", class="post-auther"><%= schedules.staff_member.farm_name %></a> under 
                            <% if schedules.harvest %>
                            <a class="post-category post-category-design" href="#">収穫予告</a>
                            <% else %>
                            <a class="post-category post-category-js" href="#">Blog</a>
                            <% end %>
                        </p>
                    

                    <div class="post-description">


                        <p>
                        <%== truncate(schedules.harvest, length: 15, :escape => false)  %><%== truncate(strip_tags(schedules.blog), length: 15, :escape => false)  %>
                        </p>
                        <%= link_to '...続きを読む', customer_staff_member_schedule_show_path( schedule_id: schedules.id, staff_member_id: @staff_member.id ) %>

                            <div class="post-images pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <% if schedules.image1? %>
                                <%= image_tag schedules.image1.thumb.url, :class => "pure-img-responsive" %>
                                <% end %>
                                <!--<div class="post-image-meta">
                                    <h3>CSSConf Photos</h3>
                                </div>-->
                            </div>

                            <div class="pure-u-1 pure-u-md-1-2">
                                 <% if schedules.image2? %>
                                <%= image_tag schedules.image2.thumb.url, :class => "pure-img-responsive" %>
                                <% end %>

                                <!--<div class="post-image-meta">
                                    <h3>JSConf Photos</h3>
                                </div>-->
                            </div>
                        </div>


                    
                    </div>
                    
                    </div>
        <% end %>


        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <% if @staff_member.image? %>
            <div id="farm_prof"><%= image_tag @staff_member.image_url %></div>

      <% end %>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon"><%= @staff_member.farm_name %>をフォローして畑の情報を手に入れよう！</h2>

            <p>
               <% if @staff_member.additional_info %>
<%= @staff_member.additional_info.explanation %>
<% end %>
            </p>
        <% if current_customer %>
        <%= render 'follow_form' %>
        <%= render 'stats' %>
        <% else %>
        <%= link_to  'この農家をフォローする', :customer_root, {:class => "btn btn-large btn-primary" }  %>
<% end %>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center"><%= @staff_member.farm_name %>詳細情報</h2>

        <div class="pure-g">
            <!--<div class="l-box-lrg pure-u-1 pure-u-md-2-5">
             <%= image_tag '/assets/organic.gif' %>
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>-->

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">


                <h4>会社名／農場名</h4>
                <p>
                    <%= @staff_member.farm_name %></p>

    <% if @staff_member.staff_address %>
    <% p1 = StaffAddressPresenter.new(@staff_member.staff_address, self) %>
    <h4>所在地</h4>
            <p><%= p1.postal_code %>
            <%= p1.prefecture %>
            <%= p1.city %>
            <%= p1.address1 %>
            <%= p1.address2 %></p>
    <% end %>

    <h4>販売者氏名</h4>
     
           <p> <%= @staff_member.family_name %>
            <%= @staff_member.given_name %></p>

            <h4>フリガナ</h4>

            <p><%= @staff_member.family_name_kana %>
                <%= @staff_member.given_name_kana %></p>

    <% if @staff_member.sales_term %>

    <h4>【全国一律送料】</h4>

    <p>全国どこでも<%= @staff_member.sales_term.delivery_fee %>円で届きます。</p>

            <h4>返品規定</h4>
            <p><%= simple_format(@staff_member.sales_term.return_policy) %></p>
<% end %>

            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        
    </div>

</div>


