 
<div class="container">
  <div class="row">
<div class="span12">
 <h2>ごひいき農家一覧</h2>
</div>
</div>
</div>


<div class="container">
  <div class="row">

    <div class="span12">
    <section>
 <% if @staff_members.count == 0 %>
 <h4>現在フォローしている農家はございません。</h4>
 <%= link_to 'お気に入りの農家を探してみる', [ :customer_staff_members ], { :class => "btn" }%>
 
 <% end %>
      <% if @staff_members.any? %>
        <table class="table">
          

          
          <tr>
            <th>ごひいき農家名</th>
            <th>現在のステータス</th>
            <th>所在地</th>
            <th>代表者</th>
            <th>email</th>
            <th></th>

          </tr>
          <% @staff_members.each do |staff| %>
          <% p = StaffMemberPresenter.new(staff, self) %>
          <tr>
            
            <td><%= staff.farm_name %></td>
            <td><%= p.suspended_mark %></td>
            <td><% if staff.staff_address %><%= staff.staff_address.prefecture %><% else %>未登録<% end %></td>
            <td><%= staff.family_name %><%= staff.given_name %></td>
            <td><%= staff.email %></td>
            <td class="actions">
              <%= link_to '詳細', [ :customer, staff ] %> |
              <%= link_to '農産品一覧',[:customer, staff, :store, :index ] %> 
            </td>
          </tr>
          <% end %>
        </table>
          <% end %>
       
     
    </section>
  </div>
</div>
</div>
