<div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-1">
<%= form_for [ :staff, @additional_infos ] do |f| %>
<div class="pure-form pure-form-stacked">
<div class="additional cf">
  <h4><strong>追加情報編集</strong></h4>
  <div class="field">
    
    <tr>
    <!--
      <th>現在の農地が無施肥になってからの状況をお教え下さい。</br>(任意入力)</th>
      <td>
        <div class="inputrow">
     <%= f.label :farm_condition, '農地のコンディション' %>
  <%= f.select :farm_condition, [["", AdditionalInfo::CONDITION_NAMES]], :prompt => '以下よりお選び下さい' %>
  </div>
  </td></br>

<th>上記で選択いただいた状況がどのくらいの期間、経過しているかお教え下さい。</br>(任意入力)</th>
      <td>
        <div class="inputrow">
     <%= f.label :farm_condition_year, '上記コンディションの年数' %>
  <%= f.select :farm_condition_year, [["", AdditionalInfo::CONDITION_YEARS]], :prompt => '以下よりお選び下さい' %>
  </div>
  </td></br>
  -->
  <div class="pull-left"><i class="ion-heart">　</i></div>
<%= f.label :masterpiece, '看板やさい' %>
  <th>ご自身の作られるお野菜の中で、最もお客様に食べてもらいたい品目をお選びください。</th>
  <td>
    <div class="inputrow">
     
   <%= f.select :masterpiece, [["", AdditionalInfo::CATEGORY_NAMES]], :prompt => '以下よりお選び下さい' %>
 </div>
  </td></br>

<div class="pull-left"><i class="ion-chatbox">　</i></div>
<%= f.label :explanation, '農園、地域の説明文' %>
  <th>お野菜や畑の魅力が伝わるように、説明文を登録できます。お客様のページのトップに表示されます。</th>
  <td>
    <div class="inputrow">
     
   <%= f.text_area :explanation, :placeholder => 
   '例：
   霧深い丹波の里で、新鮮な水と腐葉土で育まれた、自然栽培野菜をご堪能いただけます。
   大豆や大麦、里芋、栗など、地域の特色を活かした、旬の作物で健康になってください！
   ' , :size=>"50x10"%>
 </div>
  </td>

</tr>

  </div>
 
  <%= f.submit "追加情報を更新", class: "btn btn-large btn-primary" %>
 
 </div>
 </div>
<% end %>
  </div></div>