
<div class="container">
	<div class="row">
		<div class="span12">
			
			<h1><%= @staff_member.farm_name %></h1>
			<% @title = '農産品' %>
			<% @title2 = '一覧'%>
				<!--<h2 class="text-pink">
					<%= @title %>
					<strong><%= @title2 %></strong>
				</h2>-->
				<% if @staff_member.sales_term.present? %>
				<div><%= link_to '特定商取引に関する表示', [:customer_staff_member_sales_term], {:class => "btn btn-large btn-primary" } %>
							</div>
				<% end %>
			<div class="links">
				<%= link_to 'ユーザートップ', :customer_root %>
    		</div>
    		<% if @staff_member.suspended? %>
		<% else %>
		<h4>ご好評につき、現在売り切れの状態です。<br/>農家さんをフォローしていただくと、開店の予定が登録された時にお知らせが届きます！</h4>
		<div class="pull-left">
			
	<%= render 'follow_form' %>

        </div>
		<% end %>
    	</div>
    </div>
</div>

<% if @staff_member.suspended? %>
<div class="fixing-base">
        <div class="fixing-box">

	
		<div class="span-border">
				<div class="margin15">
				
					<div id="cart"
						<% if @cart.line_items.empty? %>
						style="display: none"
						<% end %>
						>
					<%= render (@cart) %>

					</div>
					<div>
	<%= button_to "カートを空にする", [:customer, @staff_member, @cart], method: :delete, :name => 'delete'%>
	</div>
				</div>
			</div>
		</div>
		</div>
<% end %>



<div class="container">
    <div class="row">

      <div class="l-content">

        <div class="pricing-tables pure-g">
          <% if @products.count == 0 %>
		<div class="span12">
		<h4>大変、申し訳ございません。現在ご購入いただける商品はございません。</h4>
		</div>
		<% end %>

          <% @products.each do |m| %>
          <div class="pure-u-1 pure-u-md-1-3">
          <div class="thumbnail">
      		 		<div class="entry">
              <% if m.productimg? %>
		 			<div><%= image_tag m.productimg.thumb.url %></div>
          <% end %>
					<h5><%= m.category %></h5>
					<h6><%= sanitize(m.description) %></h6>
					<h5><%= m.variety %></h5>
					<h5><%= m.method %></h5>
					<% if @staff_member.suspended? %>
						<div class="price_line">
						<span class="price">
						<%= m.net %>g
						<%= sprintf("¥%0.00f", m.price) %></span>
						<p style="margin-top: 15px;">
							<% if m.stock == 0 %>
							ごめんなさい。売り切れました。
							<% else %>
							<div><%= button_to 'カートに入れる', customer_staff_member_line_items_path(product_id: m, cart_id: @cart.id), :class => "btn", remote: true %>
							</div>
							<% end %>
						</p>
						</div>
						<% else %>
						スタンバイ
						<% end %>
		</div>
          </div>
        </div><!-- events end -->

      <% end %>

      </div>

      </div>
   </div>
   </div>

