
<div class="container">
	<div class="row">
		<div class="span4">
			
			<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% @title = '特定商取引にかんする表示' %>
				<h2 class="text-pink">
					<%= @title %>
				</h2>
				 <div class="margin15">
<%= link_to "ホーム", :customer_root %> > <%= link_to "ストア", :customer_staff_member_store_index %> > 特定商取引に関する表示 </div>
<div id="cart"
	<% if @cart.line_items.empty? %>
	style="display: none"
	<% end %>
	>
			<%= render (@cart) %>
		
		</div>
	</div>
</div>

</div>


<div class="container">
	<div class="row">
		<div class="span12">


		<%= simple_format @staff_member.sales_term.legal_info %>
	

	</div>
</div>
</div>

