
			
			<% p1 = CustomerPresenter.new(@customer, self) %>
			<% p3 = AddressPresenter.new(@customer.addresses.first, self) %>
			

			<div class="table-wrapper">
				<table class="table">
					<tr><th colspan="2">基本情報</th></tr>
					
					<tr><th>氏名</th><td><%= p1.full_name %></td></tr>
					<tr><th>email</th><td><%= @customer.email %></td></tr>
					<tr><th>あなたからの購入回数</th><td><%= @order.count %>回</td></tr>
					<% if @customer.addresses.first %>
					
					<tr><th>郵便番号</th><td><%= p3.postal_code %></td></tr>
					<tr><th>都道府県</th><td><%= p3.prefecture %></td></tr>
					<tr><th>市区町村</th><td><%= p3.city %></td></tr>
					<tr><th>町域、番地等</th><td><%= p3.address1 %></td></tr>
					<tr><th>建物名、部屋番号等</th><td><%= p3.address2 %></td></tr>
					<% end %>
					
				</table>
			</div>
		
					