<article>
  <%= 
       if current_staff_member
        render 'staff/shared/member_header'
      else
        render 'staff/shared/pre_header'
      end
%>
</article>
<div class="wrapper">


<div class="wrap">
<div class="tp-bar">
    <div class="container">

           <div class="openNav">
  <div class="icon"></div>
</div>
<script>
$(".openNav").click(function() {
  $("body").toggleClass("navOpen");
  $("nav").toggleClass("open");
  $(".wrapper").toggleClass("open");
  $(this).toggleClass("open");
});
</script>
      <div class="logo"> <%= image_tag 'logo20140114.png' %> <span class="slogan"> 全国の自然農、自然栽培農家が見つかる！繋がる！ </span> </div> 
      <!-- logo ends -->
      
    </div>
  </div><!-- tp-bar ends -->
  <div class="pull-right">
    <%= 
       if current_staff_member
        link_to 'ログアウト', :staff_session, method: :delete
      else
        link_to 'ログイン', :staff_login 
      end
    %> | 
    <%= link_to 'アカウント', :staff_account if current_staff_member %>
  </div>
</div><!--/.nav-collapse -->
  <div class="insert">
  </div>
 
 
 <div class="flash">
  <%= content_tag(:span, flash.notice, class: 'notice') if flash.notice %>
    <%= content_tag(:span, flash.alert, class: 'alert') if flash.alert %>
  </div>

