
<div class="container">
        <div class="margin15">
        <ul class="progressbar">
            <li class="active">送り先選択</li>
            <li>送り先確定</li>
            <li>注文確認</li>
            <li>確定</li>
        </ul>
      </div>
</div>
<div class="container">
	<div class="row">
		<div class="margin15">
			<% @title = '送り先選択' %>
			<h2><%= @title %></h2>

		<div class="table-wrapper">
<div class="margin15"><%= button_to "新しい住所で注文する", :new_customer_staff_member_address, method: :get, :class => "btn btn-primary" %></div>
			<%= paginate @addresses %>

				<table class="table">
					<tr>
						<th>郵便番号</th>
						<th>都道府県</th>
						<th>市町村区</th>
						<th>番地</th>
						<th>建物名等</th>

					</tr>
						<% @addresses.each do |m| %>
					<tr>
						
						<td><%= m.postal_code %></td>
						<td><%= m.prefecture %></td>
						<td><%= m.city %></td>
						<td><%= m.address1 %></td>
						<td><%= m.address2 %></td>
						

						<td class="actions">
							<%= link_to '選択', controller:"addresses", action:"edit", id:m, :class => "btn btn-primary" %> 
						</td>
					</tr>
						<% end %>
				</table>


				<%= paginate @addresses %>

			</div>
		</div>
	</div>
</div>

