
<div class="container">
	<div class="row">
		<div class="span12">
<% @title = 'ご注文内容確認' %>
<h3><%= @title %></h3>
<h5>以下の内容でご注文を承ります。内容をご確認の上「代金引き換え」もしくは「カード支払い」にてご注文を確定して下さい。</h5>

<table class="table">
	<tr>
		<th>お客様氏名</th>
		<td>
			<%= @customer.family_name %>　<%= @customer.given_name %>様
		</td>
	</tr>

	<tr>
		<th>送付先住所</th>
		<td>
			<%= @address.postal_code %>
			<%= @address.prefecture %>
			<%= @address.city %>
			<%= @address.address1 %>
			<%= @address.address2 %>
		
		</td>
	</tr>

	<tr>
		<th>電話番号</th>
		<td>
			<%= @address.phone %>
		</td>
	</tr>

	<tr>
		<th>注文内容</th>

		<td>
			
		
		</td>
	</tr>


<tr>
		<th>一律送料（※注文代金に上乗せされます。）</th>
		<td>
			¥<%= @staff_member.sales_term.delivery_fee %>
		</td>
	</tr>


<tr>
		<th>　　　　</th>
		<td>
		
		</td>
	</tr>
<h6>
	<tr>
		<th>販売／出荷</th>
		<td>
			<%= @staff_member.farm_name %>
		</td>
	</tr>

	<% if @staff_member.staff_address %>
	<% p1 = StaffAddressPresenter.new(@staff_member.staff_address, self) %>
	<tr>
		<th>販売／集荷　所在地</th>
		<td>
			<%= p1.postal_code %>
			<%= p1.prefecture %>
			<%= p1.city %>
			<%= p1.address1 %>
			<%= p1.address2 %>
		</td>
	</tr>
	<% end %>
	
	<tr>
		<th>販売者氏名</th>
		<td>
			<%= @staff_member.family_name %>
			<%= @staff_member.given_name %>
		</td>
	</tr>
	<tr>
		<th>フリガナ</th>
		<td>
			<%= @staff_member.family_name_kana %>
			<%= @staff_member.given_name_kana %>
		</td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td class="email">
			<%= @staff_member.email %>
		</td>
	</tr>

	
	
</h6>

</table>
<div class="pull-left">
<%= link_to '代金引き換えで注文', order_conf_customer_staff_member_address_path(@staff_member, @address), method: :post, :class => "btn", data: {confirm: "ご注文が確定します。宜しいですか？"} %>

<%= form_tag(:action => 'order_conf', :name => 'webpay') do %>
<script src="https://checkout.webpay.jp/v1/" class="webpay-button" data-key="<%= WEBPAY_PUBLIC_KEY %>"></script>
<% end %>
</div>


  </div>

</div>
</div>
