<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title> <%= document_title %></title>
<meta name="description" content="">
<meta name="author" content="HideakiTakahashi">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true  %>

<%= csrf_meta_tags %>

<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 


<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

    <style>
    #map {
    width:  100%;
    height: 300px;
  }
  </style>

</head>

<body>

<%= render 'customer/shared/header' %>


  <%= yield %>


<%= link_to "Home", "/" %>
  
  <footer class="footer">
      <div class="container">
        <div class="row">
          
         
          <div class="widget widget-text">
            <h2>お問い合わせ</h2>
            <a href="#"></a>
            <p>Vel arcu in nec porttitor aliquam tempor platea, turpis? Ridiculus nascetur dignissim amet ac scelerisque facilisis etiam sed odio rhoncus, pellentesque nisi aenean vel. Sed a etiam in, non, velit ac cum in, magna, nisi ultrices, porta odio duis, urna tincidunt ac dis ultricies sit, lorem montes facilisis. Est, scelerisque, nisi ultrices, porta odio duis, urna tincidunt ac dis ultricies sit, lorem montes facilisis.</p>
          </div><!-- widget ends -->        
          <div class="widget widget_newsletter">
            <h2>Newsletter</h2>
            <div class="newsletter">
              <p>新しい農家さんが追加された時や出荷予定が更新された時にいち早くお知らせします！</p>
              <form action="index.html" method="post">
                <input type="text" class="input-block-level" placeholder="Email Address">
                <input type="submit" class="btn" value="登録">
              </form>
            </div>
          </div><!-- widget ends -->
        </div>
      </div>  
  </footer>
  <div class="bottom">
    <div class="container">
      <div class="bottom-left">
        <p>&copy;2015 うむ株式会社 All rights reserved. </p>
        <ul>
          <li><a href=<%= "static_pages_company_path"%>>company</a></li>
          <li><a href="#">Environment</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
      <div class="social-links">
        <ul>
          <li><a href="#" class="icon-yahoo tooltip" title="yahoo"></a></li>
          <li><a href="#" class="icon-facebook tooltip" title="facebook"></a></li>
          <li><a href="#" class="icon-rss tooltip" title="rss"></a></li>
          
         
        </ul>
      </div>
  </div><!-- bottom ends -->
</div><!-- wrap ends -->
</div>



</body>
</html>
